/* ***** BASE-STYLES ***** */
/* CUSTOM VARIABLES  */
:root {
    --main-white: #f0f0f0;
    --main-gray: rgb(77, 77, 77);
    --darker-gray: rgb(60, 60, 60);

    /* title */
    --fs-600: 2rem;
    /* button */
    --fs-500: 1.5rem;
    /* subtitle */
    --fs-400: 1.25rem;
    /* workaround */
    --fs-350: 1.125rem;
    /* normaltext */
    --fs-300: 1rem;
    /* copyright */
    --fs-200: 0.75rem;
}

/* RESET BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* RESET BOX/FONT-SIZE */
html {
    box-sizing: border-box;
    font-size: var(--fs-300);
    scroll-behavior: smooth;

    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* BASE STYLES */
body {
    font-family: Courier, monospace;
    font-size: var(--fs-300);
    line-height: 1.5;
    color: var(--main-gray);
    /* background-image: linear-gradient(180deg,
            rgba(210, 220, 230, 0.6) 50%,
            rgba(155, 155, 155, 0.7) 80%,
            rgba(085, 085, 085, 1.00) 100%),
        url(./assets/背景/mountains-bottom-被裁切.jpg); */
    background-image: linear-gradient(180deg,
            rgba(210, 220, 230, 0.666) 50%,
            rgba(155, 155, 155, 0.825) 80%,
            rgba(085, 085, 085, 1.000) 100%),
        url(./assets/背景/porcupine-hills-alltrails-upscale-2-HSL飽和度偏移RY減少33.jpg);
    /* background-image: linear-gradient(180deg,
            rgba(210, 220, 230, 0.5) 20rem,
            rgba(155, 155, 155, 0.75) 40rem,
            rgba(085, 085, 085, 1.000) 80rem),
        url(./assets/背景/porcupine-hills-alltrails-upscale-2-HSL飽和度偏移RY減少33.jpg); */
    /* background-size: 100% auto; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-600);
    color: var(--main-gray);
}

h2 {
    font-weight: 300;
    font-size: var(--fs-350);
}

p {
    font-size: var(--fs-300);
    color: var(--main-gray);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
    font-size: var(--fs-400);
}

button {
    font-family: courier, monospace;
    ;
    font-size: var(--fs-400);
}

button a {
    font-size: var(--fs-500);
}

img {
    pointer-events: none;
}

/* ***** ANIMATION ***** */
/* FADEIN ANIMATION */
/* https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* BUTTON HIGHLIGHT ANIMATION */
/* https://ui-buttons.web.app/material-ripple */

.btn-highlight {
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    mask-image: radial-gradient(#000, #fff);
    overflow: hidden;
}

.btn-highlight:before {
    opacity: 0.2;
    border-radius: 50%;
    aspect-ratio: 1;
    background: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    /* TODO: semi-fix */
    /* height: 100%; */
    animation: enlarge 1.5s infinite;
}

@keyframes enlarge {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.33);
    }
}

/* ***** BORDER TESTING ***** */
/* .welcome,
.welcome .hero,
.welcome .title,
.welcome .hero .hero-links-container,
.welcome .hero .hero-links-container button,
.about p,
.about .slideshow-box,
.scores,
.scores button,
.nav,
.nav ul,
.nav ul li a,
.nav-2,
.posters,
.posters img,
footer,
footer .other-links-container,
footer .other-links-container a,
footer .other-links-container i,
footer .copyright {
    border: solid red;
} */

/* * {
    border: solid red;
} */

/* ***** SECTIONS ***** */
/* WELCOME */

/* NAV */
.nav {
    position: absolute;
    width: 100%;
    top: 2.5rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
}

.nav-list a {
    display: flex;
    color: var(--main-gray);
    font-size: var(--fs-300);
    transition: all 0.33s ease-out;
}

.nav-list a:hover {
    transform: scale(110%);
}

.nav-2 {
    position: relative;
    text-decoration: underline;
}

/* HERO */
.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* browser height support redundancy */
    height: clamp(35rem, 80vh, 70rem);
    height: clamp(35rem, 80svh, 70rem);
    /* height: clamp(35rem, 45rem, 70rem); */
    padding: 1rem;
    /* HORIZONTAL LAYOUT */
    max-width: 40rem;
    margin: 37.5px auto;
    /* STYLING */
    border-radius: 40px;
    box-shadow: 0px 0px 33px #333333;
    background-image: url(./assets/背景/mountains-bottom.jpg);
    background-position: bottom;
    /* background-size: 100% auto; */
    background-size: cover;
}

.welcome i {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    margin: 0;
    padding: 0;
}

.welcome .hero {
    max-height: 100%;
    max-width: 30rem;
    min-width: 60%;
}

.welcome .hero .title #zh-spacing {
    margin-top: 8px;
}

.welcome .hero .hero-links-container button {
    display: block;
    margin: 2.5rem auto;
    color: black;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2.5;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 1px 3.33px #333333;
    transition: all 0.5s ease-out;
}

.welcome .hero .hero-links-container button:nth-child(1) {
    margin-top: 1.25rem;
}

.welcome .hero .hero-links-container button a {
    display: block;
    transition: all 0.33s ease-out;
}

.welcome .hero .hero-links-container button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 1px 9.99px #888888;
}

.welcome .hero .hero-links-container button a:hover {
    color: black;
}

.welcome .hero .title img {
    max-width: 85%;
    filter: opacity(70%);
    margin-bottom: 0;
}

/* ABOUT */
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5rem;
    padding-top: 5rem;
    /* HORIZONTAL LAYOUT */
    max-width: 40rem;
    margin: 37.5px auto;
    /* STYLING */
    border-radius: 40px;
    box-shadow: 0px 0px 33px #333333;
    background: #dddddd;
    background-image: url(./assets/背景/mountains-bottom-被裁切.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.about p {
    text-align: left;
    color: var(--darker-gray);
}

.about p .slideshow-box {
    width: 5.5rem;
    height: 5.5rem;
    float: right;
    margin: 0 0 5px 5px;
}

.about p .slideshow-box img {
    max-width: 5.5rem;
    max-height: 5.5rem;
    position: absolute;
    -webkit-animation-name: cycle;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    animation-name: cycle;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}



/* CYCLE IMAGE ANIMATION */
/* https://jsfiddle.net/5M2PD/4/ */
@-webkit-keyframes cycle {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cycle {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#f1 {
    -webkit-animation-delay: -0s;
    animation-delay: -0s;
}

#f2 {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

/* SCORES */
.scores {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2.5rem; */
    padding: 5rem 0rem 2.25rem 0rem;
    min-height: 80vh;
    min-height: 80svh;
    /* HORIZONTAL LAYOUT */
    max-width: 40rem;
    margin: 50px auto;
    /* STYLING */
    border-radius: 40px;
    box-shadow: 0px 0px 33px #333333;
    background: #dddddd;
    background-image: url(./assets/背景/mountains-bottom-被裁切.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    font-family: courier, monospace;
}

.scores .collapsible,
.scores .content p {
    font-size: var(--fs-300);
    text-align: left;
    width: 100%;
}

.scores .content p,
.scores .content a {
    padding: 1rem
}

.scores iframe {
    width: 100%;
    height: 40rem;
    margin-top: 1rem;
}

.scores .content audio {
    width: 100%;
}

.scores .content a {
    color: var(--main-gray);
    text-decoration: underline;
    font-size: var(--fs-300);
}

.scores .nav-2 {
    margin-top: auto;
}

.scores #spacer {
    height: 2rem;
}

/* COLLAPSIBLE */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--fs-300);
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 0 0 8px;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out; */
    background-color: #f1f1f1;
}

.content .score-container {
    padding-right: 16px;
}

/* POSTERS */
.posters-divider {
    margin: 0 auto 0 auto;
    max-width: 40rem;
}

.posters-divider p {
    color: #e8e8e8;
    font-size: var(--fs-200);
    margin: 7.5px 15px;
    margin-bottom: 10px;
}

.posters-divider hr {
    border: 1px dotted #e8e8e8;
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 2.5% 97.5%,
            transparent);
    mask-image: linear-gradient(to right,
            transparent,
            black 2.5% 97.5%,
            transparent);
}

.posters {
    display: flex;
    height: 200px;
    margin: 0 auto 50px auto;
    max-width: 40rem;
    /* Scrolling */
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    overflow: hidden;
}

.posters img {
    margin: 0rem 0.5rem;
    animation: slide 100s infinite linear;
}

.posters .square {
    border-radius: 25px;
}

.posters p {
    border: solid red;
    position: absolute;
    z-index: 1;
    bottom: -100px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-8*(200px + 0.5rem - 5px)));
    }
}

/* FOOTER */
footer {
    margin: 0 auto;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .other-links-container {
    text-shadow: 0px 0px 5px #1f1f1f;
    text-shadow: 0px 0px 5px var(--main-gray);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(6, 1fr); */
}

footer .other-links-container .other-links-btn {
    margin: 5px 1rem;
}

footer .other-links-container .other-links-btn i {
    display: block;
    font-size: var(--fs-500);
    transition: all 0.5s ease-out;
}

footer .other-links-container .other-links-btn i:hover {
    scale: 125%;
}

footer .copyright {
    margin: 2rem 0;
    color: white;
    font-size: var(--fs-200);
}

footer .copyright #version {
    color: #777;
}

#logo {
    position: fixed;
    height: 2.25rem;
    bottom: 1rem;
    left: 1rem;
    opacity: 33%;
}

/* *****RESPONSIVE-DESIGN***** */
/* hit side margin equal to top margin of hero card */
@media (max-width: calc(40rem + 100px)) {

    .welcome,
    .about,
    .scores,
    .posters,
    .posters-divider,
    footer {
        max-width: calc(100% - 50px);
    }

    .welcome,
    .about,
    .scores {
        margin-top: 25px;
    }

    .posters {
        margin-bottom: 25px;
    }
}

/* Background Size */
@media (min-height: 1130px) {

    .welcome,
    .about,
    .scores {
        background-size: 100% 100%;
    }
}

/* Background Size */
@media (max-width: 66.66vh) {

    .welcome {
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 414px) {
    :root {
        /* Adjust your font-size variables to smaller values */
        --fs-600: 1.7rem;
        --fs-500: 1.25rem;
        --fs-400: 1.125;
        --fs-350: 1rem;
        --fs-300: 0.875rem;
        --fs-200: 0.625rem;
    }
}