/* ***** BASE-STYLES ***** */
/* CUSTOM VARIABLES  */
:root {
    --main-white: #f0f0f0;
    --main-gray: rgb(77, 77, 77);
    --darker-gray: rgb(60, 60, 60);
    --darkest-gray: rgb(30, 30, 30);

    /* title */
    --fs-600: 2rem;
    /* button */
    --fs-500: 1.5rem;
    /* smaller button */
    --fs-450: 1.375rem;
    /* subtitle */
    --fs-400: 1.25rem;
    /* workaround */
    --fs-350: 1.125rem;
    /* normaltext */
    --fs-300: 1rem;
    /* copyright */
    --fs-200: 0.75rem;
}

/* RESET BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* RESET BOX/FONT-SIZE */
html {
    box-sizing: border-box;
    font-size: var(--fs-300);
    scroll-behavior: smooth;

    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* BASE STYLES */
body {
    font-family: Courier, monospace;
    font-size: var(--fs-300);
    line-height: 1.5;
    color: var(--main-gray);
    background-image: linear-gradient(180deg,
            rgba(175, 175, 225, 0.5) 25%,
            rgba(150, 150, 200, 0.67) 45%,
            rgba(100, 100, 150, 0.75) 65%,
            rgba(75, 75, 87.5, 0.825) 85%,
            rgba(50, 50, 50, 1) 100%),
        url(./assets/背景/porcupine-hills-alltrails-upscale-2-HSL飽和度偏移RY減少33.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-600);
    color: var(--main-gray);
}

h2 {
    font-weight: 300;
    font-size: var(--fs-350);
}

p {
    font-size: var(--fs-300);
    color: var(--main-gray);
    font-weight: 400;
    /* -webkit-font-smoothing: antialiased; */
    -webkit-text-stroke: 0.35px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
    font-size: var(--fs-400);
    font-weight: 400;
}

button {
    font-family: courier, monospace;
    font-size: var(--fs-400);
}

button a {
    font-size: var(--fs-450);
}

img {
    pointer-events: none;
}

/* ***** ANIMATION ***** */
/* FADEIN ANIMATION */
/* https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* BUTTON HIGHLIGHT ANIMATION */
/* https://ui-buttons.web.app/material-ripple */

#btn-highlight {
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    mask-image: radial-gradient(#000, #fff);
    overflow: hidden;
}

#btn-highlight:before {
    opacity: 0.2;
    border-radius: 50%;
    aspect-ratio: 1;
    background: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    /* TODO: semi-fix */
    /* height: 100%; */
    animation: enlarge 1.5s infinite;
}

@keyframes enlarge {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.33);
    }
}

/* ***** BORDER TESTING ***** */
/* .card,
.card .hero,
.card .title,
.card .hero .hero-links-container,
.card .hero .hero-links-container button,
#about-card p,
#about-card .slideshow-box,
#scores,
#scores button,
.nav,
.nav ul,
.nav ul li a,
#bottom-nav,
.credits-scroll,
.credits-scroll img,
.contact,
.contact .socials-container,
.contact .socials-container a,
.contact .socials-container i,
.copyright {
    border: solid red;
} */

/* * {
    border: solid red;
} */

/* ***** SECTIONS ***** */
/* card */

/* NAV */
.nav {
    position: absolute;
    width: 100%;
    top: 2.5rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
}

.nav-list a {
    display: flex;
    color: var(--main-gray);
    font-size: var(--fs-300);
    transition: all 0.33s ease-out;
}

.nav-list a:hover {
    transform: scale(110%);
}

#bottom-nav {
    position: relative;
    text-decoration: underline;
}

/* HERO */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* browser height support redundancy */
    height: clamp(35rem, 80vh, 70rem);
    height: clamp(35rem, 80svh, 70rem);
    /* height: clamp(35rem, 45rem, 70rem); */
    padding: 1rem;
    /* HORIZONTAL LAYOUT */
    max-width: 40rem;
    margin: 37.5px auto;
    border-radius: 40px;
    box-shadow: 0px 0px 33px #333333;
    /* background-image: url(./assets/背景/mountains-bottom.jpg); */
    background-size: cover;
    background-position: bottom;
    background-position: 0% 99%;
    background-image: linear-gradient(180deg,
            /* rgba(175, 175, 225, 0.4) 0%, */
            /* rgba(50, 50, 100, 0.4) 100%), */
            rgba(180, 180, 230, 0.35) 0%,
            rgba(100, 100, 150, 0.35) 100%),
        url(./assets/背景/mountains-bottom.jpg);
}

.card i {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    margin: 0;
    padding: 0;
}

.card .hero #social-icon img {
    max-width: 5rem;
    border-radius: 75%;
    opacity: 80%;
    border: solid #000000 1.5px;
    box-shadow: 0px 0px 7.5px #333333;
}

.card .hero div {
    max-height: 100%;
    max-width: 30rem;
    min-width: 60%;
    margin: 0 auto 0 auto;
}

.card .hero .title #zh-spacing {
    margin-top: 8px;
}

/* .card .hero .title img {
    margin-top: -0.75rem;
} */

.card .hero .hero-links-container button {
    display: block;
    margin: 2.5rem auto;
    color: black;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2.5;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 1px 3.33px #333333;
    transition: all 0.5s ease-out;
}

.card .hero .hero-links-container button:nth-child(1) {
    margin-top: 0rem;
}

.card .hero .hero-links-container button a {
    display: block;
    transition: all 0.33s ease-out;
}

.card .hero .hero-links-container button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 1px 9.99px #888888;
}

.card .hero .hero-links-container button a:hover {
    color: black;
}

.card .hero .title img {
    max-width: 70%;
    filter: opacity(70%);
    margin: 0.75rem;
}

/* EVENT */
.card .hero .event-info hr:last-of-type {
    margin-bottom: 2.5rem;
}

.card .hero .event-info p {
    font-weight: 600;
    text-wrap: nowrap !important;
}

.card .hero .event-info #event-title {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* This helps prevent any extra spaces from causing wrapping */
    overflow: hidden;
    /* This hides any text that overflows the element width */
    font-weight: bold;

}

.card .hero .event-info hr:first-of-type {
    margin-bottom: 0.5rem;
}

.card .hero .event-info hr:last-of-type {
    margin-top: 0.5rem;
}

#event-poster {
    margin: -1rem auto 1rem auto;
}

#event-info-list {
    list-style-type: disc;
    text-align: left;
    margin: auto 1rem auto 1rem;
}

#event-button {
    width: 100%;
}

#event-button a {
    text-wrap: nowrap;
    font-size: var(--fs-350);
}

/* .event-card .title {
    margin-top: 2.5rem;
} */

.event-card {
    padding-top: 5rem;
    height: auto;
}

.event-card .event-info,
.event-card .event-links {
    margin-right: 2rem;
    margin-left: 2rem;
}

.event-card iframe {
    /* min-width: 30rem; */
    min-width: 100%;
    height: 16.8750000001rem;
    margin-bottom: 2.5rem;
}

/* MUSIC */
#music-card {
    height: auto;
    padding: 2.5rem 0 2.5rem 0;
}

#music-card .hero {
    width: 100% !important;
}

#music-card .hero p {
    position: absolute;
    top: 17.5rem;
    z-index: 0;
}

#music-card .hero iframe {
    position: relative;
    z-index: 1;
}

#music-card iframe {
    /* opacity: 75%; */
}

#music-card #audio-player {
    max-width: 40rem;
}

/* ABOUT */
#about-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5rem;
    padding-top: 5rem;
    /* HORIZONTAL LAYOUT */
    max-width: 40rem;
    margin: 37.5px auto;
    /* STYLING */
    border-radius: 40px;
    box-shadow: 0px 0px 33px #333333;
    background: #dddddd;
    background-image: url(./assets/背景/mountains-bottom-被裁切.jpg);
    background-image: linear-gradient(180deg,
            rgba(175, 175, 225, 0.2) 0%,
            rgba(50, 50, 100, 0.2) 100%),
        url(./assets/背景/mountains-bottom-被裁切.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}

#about-card p {
    text-align: left;
    -webkit-text-fill-color: var(--darkest-gray);
    color: var(--darkest-gray);
}

#about-card p .slideshow-box {
    width: 5.5rem;
    height: 5.5rem;
    float: right;
    margin: 0 0 5px 5px;
}

#about-card p .slideshow-box img {
    max-width: 5.5rem;
    max-height: 5.5rem;
    position: absolute;
    -webkit-animation-name: cycle;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: cycle;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

#about-card p .slideshow-box img #f3 {
    height: auto;
}

#about-card p a {
    color: var(--darkest-gray);
    font-size: var(--fs-300);
}



/* CYCLE IMAGE ANIMATION */
/* https://jsfiddle.net/5M2PD/4/ */
@-webkit-keyframes cycle {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cycle {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#f1 {
    -webkit-animation-delay: -0s;
    animation-delay: -0s;
}

#f2 {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

#f3 {
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}

/* SCORES */
#scores {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2.5rem; */
    padding: 5rem 0rem 2.25rem 0rem;
    min-height: 80vh;
    min-height: 80svh;
    /* HORIZONTAL LAYOUT */
    max-width: 40rem;
    margin: 50px auto;
    /* STYLING */
    border-radius: 40px;
    box-shadow: 0px 0px 33px #333333;
    background: #dddddd;
    background-image: url(./assets/背景/mountains-bottom-被裁切.jpg);
    background-image: linear-gradient(180deg,
            rgba(175, 175, 225, 0.2) 0%,
            rgba(50, 50, 100, 0.2) 100%),
        url(./assets/背景/mountains-bottom-被裁切.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    font-family: courier, monospace;
}

#scores .collapsible,
#scores .content p {
    font-size: var(--fs-300);
    text-align: left;
    width: 100%;
}

#scores .content p {
    -webkit-text-fill-color: var(--darkest-gray);
    color: var(--darkest-gray);
}

#scores .content p {
    padding: 1rem
}

#scores .content a {
    margin-left: 1rem;
}

#scores iframe {
    width: 100%;
    height: 40rem;
    margin-top: 1rem;
}

#scores .content audio {
    width: 100%;
    padding: 0 1rem 0 1rem;
}

#scores .content a {
    color: var(--main-gray);
    text-decoration: underline;
    font-size: var(--fs-300);
}

#scores #bottom-nav {
    margin-top: auto;
}

#scores #spacer {
    height: 2rem;
}

#scores #bold {
    font-weight: bold;
}

#scores #audio-pending:hover {
    cursor: not-allowed;
}

/* COLLAPSIBLE */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--fs-300);
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out; */
    background-color: #f1f1f1;
}

.content .collapsible {
    margin-left: 0.66rem;
}

.content .collapsible:first-of-type {
    margin-top: 1rem;
}

.content .score-container {
    margin-left: 0.66rem;
}

/* POSTERS */

.credits-divider {
    margin: 0 auto 10px auto;
    max-width: 40rem;
}

.credits-divider p {
    color: #e8e8e8;
    font-size: var(--fs-300);
    border-top: 1.5px dotted rgba(232, 232, 232, 0.75);
    border-left: 1.5px dotted rgba(232, 232, 232, 0.75);
    border-top-left-radius: 20px;
    padding: 5px 0 0 10px;
    width: max-content;
}

.credits-scroll {
    display: flex;
    height: 200px;
    margin: 0 auto 50px auto;
    max-width: 40rem;
    /* Scrolling */
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    overflow: hidden;
}

.credits-scroll img {
    margin: 0rem 0.5rem;
    animation: slide 75s infinite linear;
}

.credits-scroll .square {
    border-radius: 25px;
}

.credits-scroll p {
    /* border: solid red; */
    position: absolute;
    z-index: 1;
    bottom: -100px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-9*(200px + 0.5rem - 5px)));
    }
}

/* CONTACT */
.contact {
    margin: 0 auto;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact .socials-container {
    text-shadow: 0px 0px 5px #1f1f1f;
    text-shadow: 0px 0px 5px var(--main-gray);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* width: 80%; */
    max-width: 20rem;
    /* border: solid red; */
}

.contact .socials-container .social-btn {
    margin: 5px 1rem;
}

.contact .socials-container .social-btn:first-child {
    margin-left: 0;
}

.contact .socials-container .social-btn:last-child {
    margin-right: 0;
}

.contact .socials-container .social-btn i {
    display: block;
    font-size: 1rem;
    transition: all 0.5s ease-out;
}

.contact .socials-container .social-btn i:hover {
    scale: 125%;
}

.copyright {
    margin: 2rem 0;
    color: white;
    font-size: var(--fs-200);
}

.copyright #version {
    color: #777;
}

.contact .contact-text p {
    color: white;
    letter-spacing: 2rem;
    text-indent: 2rem;
    margin-top: 1.75rem;
}

.contact .contact-headshot img {
    /* POSITIONING */
    max-width: 20rem;
    display: flex;
    margin: 1rem auto 1rem auto;
    /* STYLING */
    border-radius: 1.75rem;
    /* border: solid black 0.25rem; */
    opacity: 85%;
}

.contact #event-poster img {
    opacity: 100%;
}

/* FOOTER */
footer {
    text-align: center;
}

#logo {
    position: fixed;
    height: 2.25rem;
    bottom: 1rem;
    left: 1rem;
    opacity: 33%;
    height: 2.25rem;
}

/* *****RESPONSIVE-DESIGN***** */
/* hit side margin equal to top margin of hero card */
@media (max-width: calc(40rem + 100px)) {

    .card,
    #about-card,
    #scores,
    .credits-scroll,
    .credits-divider,
    .contact {
        max-width: calc(100% - 50px);
    }

    .card,
    #about-card,
    #scores {
        margin-top: 25px;
    }

    .credits-scroll {
        margin-bottom: 25px;
    }
}

/* Background Size */
@media (min-height: 1130px) {

    .card,
    #about-card,
    #scores {
        background-size: 100% 100%;
    }
}

/* Background Size */
@media (max-width: 66.66vh) {

    .card {
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 414px) {
    :root {
        /* Adjust your font-size variables to smaller values */
        --fs-600: 1.7rem;
        --fs-500: 1.25rem;
        --fs-400: 1.125;
        --fs-350: 1rem;
        --fs-300: 0.875rem;
        --fs-200: 0.625rem;
    }
}