/* ***** BASE_STYLES ***** */
/* CUSTOM_VARIABLES  */
:root {
    --main-white: #f0f0f0;
    --main-gray: rgb(77, 77, 77);
    --darker-gray: rgb(60, 60, 60);
    --darkest-gray: rgb(30, 30, 30);

    /* button */
    --fs-400: 1.375rem;
    /* text (16px) */
    --fs-300: 1rem;
    /* copyright */
    --fs-200: 0.75rem;
}

/* RESET_BASE */
/* *::before/after resets pseudo-elements */
/* margin & padding to 0 removes default spacing which varies by browser */
/* box-sizing inherit makes calculations more predictable */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* RESET_BOX/FONT_SIZE */
/* box-sizing: */
/*   content-box default only includes width & height w/o padding & border */
/*   border-box includes padding & border in total width/height */
html {
    box-sizing: border-box;
    font-size: var(--fs-300);
    scroll-behavior: smooth;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

/* BASE STYLES */
body {
    /* TEXT */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--main-gray);
    /* BACKGROUND */
    background-image: linear-gradient(180deg,
            rgba(175, 175, 225, 0.5) 25%,
            rgba(150, 150, 200, 0.67) 45%,
            rgba(100, 100, 150, 0.75) 65%,
            rgba(75, 75, 87.5, 0.825) 85%,
            rgba(50, 50, 50, 1) 100%),
        url(./assets/背景/porcupine-hills-alltrails-upscale-2-HSL飽和度偏移RY減少33.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

strong {
    font-weight: bolder;
    color: black;
}

p {
    color: rgba(0, 0, 0, 0.8);
}

ul {
    list-style: none;
}

a {
    color: var(--main-gray);
    text-decoration: none;
}

.social-btn i {
    color: var(--main-white);
}

button {
    font-family: courier, monospace;
    font-size: var(--fs-400);
}

img {
    pointer-events: none;
}

/* ***** ANIMATION ***** */
/* FADE_IN_ANIMATION */
/* https://codepen.io/JTBennett/pen/BjpXRo */
.fade-in {
    animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* BUTTON_HIGHLIGHT_ANIMATION */
/* https://ui-buttons.web.app/material-ripple */
#btn1 {
    position: relative;
    mask-image: radial-gradient(#000, #fff);
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    overflow: hidden;
}

#btn1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(0);
    animation: enlarge 1.5s infinite;
}

@keyframes enlarge {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.33);
    }
}

/* ***** DEFAULT_SECTIONS ***** */
/* CARD */
.card {
    /* VERITCAL_LAYOUT */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* browser height support redundancy */
    /* height: clamp(35rem, 80vh, 70rem); */
    /* height: clamp(35rem, 80svh, 70rem); */
    /* ...or merely simplify */
    height: 45rem;
    /* HORIZONTAL_LAYOUT */
    max-width: 40rem;
    margin: 2rem auto;
    /* STYLING */
    border-radius: 2.5rem;
    box-shadow: 0px 0px 33px #333333;
    background-size: cover;
    background-position: 0% 99%;
    background-image: linear-gradient(180deg,
            rgba(180, 180, 230, 0.35) 0%,
            rgba(100, 100, 150, 0.35) 100%),
        url(./assets/背景/mountains-bottom.jpg);
}

.card .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

.card .hero .social-icon,
.card .hero .title,
.card .hero .button-container {
    width: 100%;
    max-width: 30rem;
}

.card .hero .social-icon img {
    max-width: 5rem;
    border-radius: 50%;
    opacity: 0.8;
    border: solid #000000 1.5px;
    box-shadow: 0px 0px 7.5px #333333;
    margin-top: 2.5rem;
}

.card .hero .title img {
    max-width: 70%;
    filter: opacity(0.7);
    margin: 1rem;
}

.card .hero .button-container button {
    display: block;
    margin: 2.5rem auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2.5;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 1px 3.33px #333333;
    transition: all 0.5s ease-out;
}

.card .hero .button-container button:first-of-type {
    margin-top: 0rem;
}

.card .hero .button-container button a {
    display: inherit;
    color: var(--main-white);
    transition: all 0.33s ease-out;
}

.card .hero .button-container button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 1px 9.99px #888888;
}

.card .hero .button-container button a:hover {
    color: black;
}

/* NAV */
.card .nav {
    position: absolute;
    top: 4rem;
    width: 100%;
    max-width: 40rem;
}

.card .nav .nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
}

.card .nav .nav-list li:first-child {
    margin-right: auto;
    /* Pushes first <li> item to the left */
}

.card .nav .nav-list li:last-child {
    margin-left: auto;
    /* Pushes last <li> item to the right */
}

.card .nav .nav-list li a {
    display: inherit;
    transition: all 0.33s ease-out;
}

.card .nav .nav-list li a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card #bottom-nav {
    position: static;
    /* margin-top: auto; to push scores-container to top of card */
    margin: auto auto 2.5rem auto;
}

/* CREDITS */
.credits-divider {
    margin: 0 auto 0.5rem auto;
    max-width: 40rem;
}

.credits-divider p {
    color: var(--main-white);
    border-top: 1.5px dotted rgba(232, 232, 232, 0.75);
    border-left: 1.5px dotted rgba(232, 232, 232, 0.75);
    border-top-left-radius: 20px;
    padding: 0.25rem 0 0 0.5rem;
    width: max-content;
}

.credits-scroll {
    /* styles */
    display: flex;
    height: 200px;
    margin: 0 auto;
    max-width: 40rem;
    /* scrolling */
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    mask-image: linear-gradient(to right,
            transparent,
            black 5% 95%,
            transparent);
    overflow: hidden;
}

.credits-scroll img {
    margin: 0rem 0.5rem;
    animation: slide 60s infinite linear;
}

.credits-scroll .square {
    border-radius: 25px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    /* update first num after "calc(-" */
    to {
        transform: translateX(calc(-11*(200px + (2*0.5rem) - 0.67rem)));
    }
}

/* CONTACT */
.contact {
    margin: 4rem auto 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 20rem;
}

.contact-text p {
    color: white;
    letter-spacing: 2rem;
    text-indent: 2rem;
    text-align: center;
}

.contact-headshot img {
    max-width: 100%;
    margin: 1rem auto;
    border-radius: 2rem;
    opacity: 0.85;
}

.socials-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.25rem;
}

.social-btn {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-out;
    /* border: solid red 0.1px; */
}

.social-btn:hover {
    transform: scale(1.25);
}

.social-btn i {
    position: relative;
    z-index: 1;
}

.social-btn:nth-child(1) {
    height: 0.8rem;
    border-radius: 0.15rem;
}

.social-btn:nth-child(2) {
    height: 0.89rem;
    border-radius: 0.26rem;
}

.social-btn:nth-child(-n+2)::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        to right, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.3) 50%,
        rgba(255,255,255,0) 100%
    );
    transform: translateX(-150%) translateY(-150%) rotate(22.5deg);
    animation: strobe 1s infinite linear;
    z-index: 2;
}

@keyframes strobe {
    0% {
        transform: translateX(-100%) translateY(-100%) rotate(22.5deg);
    }
    100% {
        transform: translateX(100%) translateY(100%) rotate(22.5deg);
    }
}

/* FOOTER */
footer {
    margin: 4rem auto 2rem auto;
}

footer .copyright {
    font-size: var(--fs-200);
    text-align: center;
    color: white;
}

footer .logo {
    position: fixed;
    width: 2.5rem;
    bottom: 1rem;
    left: 1rem;
    opacity: 33%;
}

/* ***** ALT_ID_SECTIONS */
/* MUSIC */
#music-card {
    height: auto;
    padding: 2.5rem 0;
}

#music-card .hero .error-msg {
    padding-bottom: 1rem;
    width: 100%;
    opacity: 67%;
    font-weight: normal;
}

#music-card .hero .audio-player {
    width: 100%;
    max-width: 40rem;
}

#music-card .hero .audio-player a p {
    position: absolute;
    z-index: 0;
    margin: 0rem 1rem;
}

#music-card .hero .audio-player iframe {
    position: relative;
    z-index: 1;
}

#music footer {
    margin-top: 2rem;
}

/* ABOUT */
#about-card {
    height: auto;
    padding-top: 5rem;
}

#about-card #about-text {
    text-align: left;
    margin: 0 2.5rem;
    color: black;
}

#about-card #about-text .about-en {
    display: block;
}

#about-card #about-text .about-zh {
    display: none;
}

#about-card #about-text a {
    text-decoration: underline;
    text-decoration-color: var(--main-gray);
}

#about-card #about-text .slideshow-box {
    width: 6rem;
    height: 6rem;
    float: right;
    margin: 0 0 5px 5px;
}

#about-card #about-text .slideshow-box img {
    position: absolute;
    width: 6rem;
    height: 6rem;
    -webkit-animation-name: cycle;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: cycle;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}



/* CYCLE IMAGE ANIMATION */
/* https://jsfiddle.net/5M2PD/4/ */
@-webkit-keyframes cycle {
    from {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes cycle {
    from {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

#f1 {
    -webkit-animation-delay: -0s;
    animation-delay: -0s;
}

#f2 {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

#f3 {
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}

/* SCORES */
#scores-card {
    height: auto;
    padding-top: 5rem;
    min-height: 80vh;
    min-height: 80svh;
}

/* ACCORDION_BUTTON COLLAPSIBLE_BUTTON */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol */
#scores-card .collapsible-button {
    font-size: var(--fs-300);
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border: none;
    text-align: left;
}

/* TODO:檢查active在JS檔案 */
/* .active,  */
#scores-card .collapsible-button:hover {
    background-color: #666;
}

#scores-card .content {
    max-height: 0;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.75);
    /* padding for sub-content accordion indent */
    padding-left: 1rem;
}

#scores-card .content:last-of-type {
    margin-bottom: 2.5rem;
}

#scores-card .content p {
    display: block;
    text-align: left;
    padding: 1rem 1rem 1rem 0;
}

#scores-card .content a {
    display: block;
    text-align: left;
    color: var(--main-gray);
    text-decoration: underline;
    padding: 0;
    margin: 0.33rem 0;
    width: fit-content;
}

#scores-card .content a:last-of-type {
    margin-bottom: 0.75rem;
}

#scores-card .content audio {
    width: 100%;
    padding-right: 1rem;
}

#scores-card .content #audio-pending {
    opacity: 50%;
}

#scores-card .content #audio-pending:hover {
    cursor: not-allowed;
}

#scores-card .content #nested-button {
    width: 100%;
}

#scores-card .content #nested-content:last-of-type {
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

/* TODO:檢查active在JS檔案 */
/* .active:after {
    content: "\2212";
} */

/* EVENTS */
#event-card {
    padding-top: 4rem;
    height: auto;
}

#event-card .hero {
    padding: 0 2rem 2rem 2rem;
}

#event-card .hero .event-info #event-info-list {
    list-style-type: disc;
    text-align: left;
    margin: auto 1rem auto 1rem;
}

#event-card .hero .event-info hr:first-of-type {
    margin-bottom: 0.5rem;
}

#event-card .hero .event-info hr:last-of-type {
    margin-top: 0.5rem;
}

#event-card .hero .event-video {
    width: 100%;
    margin: 2.5rem 0;
}

#event-card .hero .event-video iframe {
    width: 100%;
    height: 20rem;
}

#event-card .hero #event-button-container {
    max-width: 40rem;
}

#event-card .hero #event-button-container #event-button {
    width: 100%;
}

#event-card .hero #event-button-container #event-button a {
    text-wrap: nowrap;
}

.event-poster {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

.event-poster img {
    max-width: 20rem;
    border-radius: 1rem;
}

/* ***** RESPONSIVE-DESIGN ***** */
/* MEDIA_01: .card both margin sides <= margin-top */
@media (max-width: calc(40rem + 4rem)) {

    .card,
    .card .nav,
    .credits .credits-divider,
    .credits .credits-scroll,
    .contact,
    footer,
    #music-card,
    #about-card,
    #scores-card {
        max-width: calc(100% - 4rem);
    }

    html {
        font-size: 87.5%;
    }
}